.metrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;
  padding: 15rem 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8.5rem;
  padding: 0 5rem;
}

.content .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.slide_wrapper .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.slide_wrapper .heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.slide_wrapper .heading h2 span {
  background: linear-gradient(to right, #ffffff 0%, #ccfe05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide_wrapper .heading p {
  font-size: 1.85rem;
  color: var(--zinc-400);
  font-weight: 300;
  text-align: center;
  width: 58%;
  line-height: 28px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
}

.container .swiper_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .slide_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;
}

.container .metric_item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
  background-color: #0b0b0b;
  border-radius: 22px;
  padding: 2.2rem;
}

.container .metric_item .left_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  border-radius: 22px;
  padding: 3.2rem;
  gap: 4rem;
}

.container .metric_item .left_column .metric_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.metric_top h4 {
  color: var(--zinc-100);
  letter-spacing: -0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 2.2rem;
}

.left_column p {
  font-size: 1.6rem;
  color: var(--zinc-400);
  font-weight: 300;
}

.left_column .metric_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.left_column .metric_bottom h5 {
  color: var(--zinc-100);
  letter-spacing: -0.3px;
  font-weight: 500;
  font-size: 1.8rem;
}

.right_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;
}

.right_column .pointer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}
.right_column .pointer .point_wrapper {
  width: 42px;
  height: 42px;
  position: relative;
  margin-left: 2rem;
}

.right_column .pointer .point_wrapper .point_number {
  width: 42px;
  height: 42px;
  border-radius: 1000px;
  background-color: var(--zinc-600);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(5px);
  z-index: 1;
}

.right_column .pointer .point_wrapper .point_number_inner {
  width: 42px;
  height: 42px;
  border-radius: 1000px;
  background-color: var(--zinc-700);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(3px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_column .pointer .point_wrapper span {
  width: 42px;
  height: 42px;
  border-radius: 1000px;
  background-color: var(--zinc-800);
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 1.65rem;
  font-weight: 400;
}

.right_column .pointer .pointer_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
}

.right_column .pointer .pointer_info h5 {
  color: var(--zinc-100);
  letter-spacing: -0.3px;
  font-weight: 500;
  font-size: 1.8rem;
}

.right_column .pointer .pointer_info p {
  font-size: 1.6rem;
  color: var(--zinc-400);
  font-weight: 300;
  line-height: 28px;
}

.container .metric_item .left_column.second {
  padding: 1.2rem 2.2rem;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.container .metric_item .left_column.second span.tag {
  font-size: 1.55rem;
  font-weight: 300;
  color: var(--primary);
  padding: 0.75rem 2.2rem;
  background-color: var(--zinc-800);
  border: 1px solid var(--primary);
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .metric_item .left_column.second .architecture {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.35rem;
}

.left_column.second .architecture .arch_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_column.second .architecture .arch_top .arch_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.2rem;
  border: 1px solid var(--zinc-700);
  border-radius: 12px;
  background-color: var(--zinc-900);
}

.architecture .arch_top .arch_container .icon,
.architecture .arch_container_services .icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353539;
  border: 1px solid var(--zinc-700);
  border-radius: 4px;
}

.architecture .arch_top .arch_container .arch_info,
.architecture .arch_container_services .arch_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.architecture .arch_top .arch_container .arch_info h6,
.architecture .arch_container_services .arch_info h6 {
  color: var(--white);
  font-size: 1.65rem;
  font-weight: 300;
}

.architecture .arch_top .arch_container .arch_info .bar {
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--zinc-700);
}

.architecture .arch_top .connector {
  width: 250px;
  height: 1px;
  border-bottom: 1px dashed var(--primary);
}

.architecture .arch_container_services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  border: 1px dashed var(--zinc-700);
  border-radius: 12px;
  padding: 1.2rem;
  position: relative;
  overflow: hidden;
}

.architecture .arch_container_services.API {
  border: 1px dashed var(--primary);
}

.architecture .arch_container_services .arch_info .bar {
  width: 65%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--zinc-700);
}

.architecture .arch_container_services .glow {
  width: 97px;
  height: 90px;
  background-color: var(--primary);
  filter: blur(100px);
  position: absolute;
  top: -137px;
  right: 0;
}

.container .metric_item .left_column.third {
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  gap: 13rem;
  padding: 2rem 3.2rem;
}

.container .metric_item .left_column.third .glow {
  position: absolute;
  left: 0;
  top: 30px;
  background-color: var(--primary);
  width: 77px;
  height: 70px;
  filter: blur(60px);
}

.container .metric_item .left_column.third .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.container .metric_item .left_column.third .top span.tag {
  font-size: 1.55rem;
  font-weight: 300;
  color: var(--primary);
  padding: 0.75rem 2.2rem;
  background-color: var(--zinc-800);
  border: 1px solid var(--primary);
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .metric_item .left_column.third .top p {
  font-size: 1.65rem;
  color: var(--zinc-500);
  font-weight: 300;
}

.metric_item .left_column.third .chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.metric_item .left_column.third .chat .input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 1.2rem;
  border-radius: 12px;
  border: 1px solid var(--zinc-600);
  background-color: var(--zinc-900);
}

.metric_item .left_column.third .chat .input p {
  font-size: 1.65rem;
  color: var(--zinc-600);
  font-weight: 300;
}

.metric_item .left_column.third .chat .suggestion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding-bottom: 2rem;
}

.metric_item .left_column.third .chat .suggestion h6 {
  color: var(--zinc-400);
  font-size: 1.65rem;
  font-weight: 300;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--zinc-900);
  border-radius: 12px;
  letter-spacing: -0.3px;
}

.metric_item .left_column.third .chat .suggestion h6:first-child {
  transform: rotate(8deg);
}
.metric_item .left_column.third .chat .suggestion h6:last-child {
  transform: rotate(7deg);
}

.container .metric_item .left_column.fourth, .container .metric_item .left_column.fifth {
     height: 437px;
}

.container .metric_item .left_column.fifth > img {
  width: 100%;
}

@media only screen and (max-width: 1260px) {
  .content {
    padding: 0;
  }

  .slide_wrapper .heading h2 {
    font-size: 3.5rem;
  }

  .slide_wrapper .heading p {
    width: 72%;
    font-size: 1.65rem;
  }

  .container .metric_item {
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    padding: 1.5rem;
  }

  .left_column > svg {
    width: 350px !important;
  }

  .left_column .metric_bottom h5,
  .right_column .pointer .pointer_info h5 {
    font-size: 1.6rem;
    line-height: 28px;
  }

  .right_column .pointer .point_wrapper,
  .right_column .pointer .point_wrapper .point_number,
  .right_column .pointer .point_wrapper .point_number_inner,
  .right_column .pointer .point_wrapper span {
    width: 32px;
    height: 32px;
  }

  .right_column .pointer .point_wrapper span {
    font-size: 1.45rem;
  }
}

@media only screen and (max-width: 800px) {
  .container .metric_item {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .left_column > svg {
    width: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  .slide_wrapper .heading h2 {
    font-size: 2.5rem;
    line-height: 38px;
    text-align: center;
  }

  .slide_wrapper .heading p {
    width: 100%;
    font-size: 1.55rem;
  }

  .container .metric_item {
    border-radius: 18px;
  }

  .container .metric_item .left_column {
    gap: 1rem;
    padding: 2rem;
    border-radius: 16px;
  }

  .left_column > svg {
    width: 250px !important;
  }

  .metric_top h4 {
    font-size: 2rem;
  }

  .left_column p {
    font-size: 1.55rem;
  }

  .left_column .metric_bottom h5 {
    font-size: 1.6rem;
  }

  .right_column {
    gap: 2.5rem;
  }

  .right_column .pointer .pointer_info p {
    font-size: 1.55rem;
  }

  .right_column .pointer .point_wrapper {
    margin-left: 0;
  }
}
