.metrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;
  padding: 15rem 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5.2rem;
  padding: 0 5rem;
}

.content .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.top .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.top .heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.top .heading h2 span {
  background: linear-gradient(to right, #ffffff 0%, #ccfe05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top .heading p {
  font-size: 1.85rem;
  color: var(--zinc-400);
  font-weight: 300;
  text-align: center;
  width: 58%;
  line-height: 28px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
}

.container .drag_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container .drag_text p {
  color: var(--zinc-400);
  font-size: 1.55rem;
  font-weight: 300;
}

.container .swiper_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .metric_item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
  background-color: #0B0B0B;
  border-radius: 22px;
  padding: 2.2rem;
}

.container .metric_item .left_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  border-radius: 22px;
  padding: 3.2rem;
  gap: 4rem;
}

.container .metric_item .left_column .metric_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.metric_top h4 {
  color: var(--zinc-100);
  letter-spacing: -0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 2.2rem;
}

.left_column p {
  font-size: 1.6rem;
  color: var(--zinc-400);
  font-weight: 300;
}

.left_column .metric_bottom {
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.left_column .metric_bottom h5 {
  color: var(--zinc-100);
  letter-spacing: -0.3px;
  font-weight: 500;
  font-size: 1.8rem;
}

.right_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;
}

.right_column .pointer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}
.right_column .pointer .point_wrapper {
  width: 42px;
  height: 42px;
  position: relative;
  margin-left: 2rem;
}

.right_column .pointer .point_wrapper .point_number {
  width: 42px;
  height: 42px;
  border-radius: 1000px;
  background-color: var(--zinc-600);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(5px);
  z-index: 1;
}

.right_column .pointer .point_wrapper .point_number_inner {
  width: 42px;
  height: 42px;
  border-radius: 1000px;
  background-color: var(--zinc-700);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(3px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_column .pointer .point_wrapper span {
  width: 42px;
  height: 42px;
  border-radius: 1000px;
  background-color: var(--zinc-800);
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 1.65rem;
  font-weight: 400;
}

.right_column .pointer .pointer_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
}

.right_column .pointer .pointer_info h5 {
  color: var(--zinc-100);
  letter-spacing: -0.3px;
  font-weight: 500;
  font-size: 1.8rem;
}

.right_column .pointer .pointer_info p {
  font-size: 1.6rem;
  color: var(--zinc-400);
  font-weight: 300;
  line-height: 28px;
}
