.benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;
  padding: 15rem 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5.2rem;
  padding: 0 5rem;
}

.content .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.top .label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--primary);
  border-radius: 1000px;
  padding: 0.95rem 2rem;
}

.top .label h6 {
  color: var(--primary);
  font-size: 1.55rem;
  font-weight: 300;
}

.top .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.top .heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.top .heading h2 span {
  color: var(--primary);
  font-style: italic;
  font-weight: 300;
  font-family: var(--font-playfair);
}

.top .heading p {
  font-size: 1.85rem;
  color: var(--zinc-400);
  font-weight: 300;
  text-align: center;
  width: 58%;
  line-height: 28px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

.benefits .container .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
    border-radius: 22px;
    border: 1px solid var(--zinc-800);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.card .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.15rem
}

.card .text h4 {
    color: var(--zinc-200);
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -0.3px;
}

.card .text p {
    width: 82%;
    color: var(--zinc-400);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.card .icon_container {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.12rem;
    background: linear-gradient(138.89deg, #CCFE05 2.97%, #000000 51.81%, #7A9803 97.03%);
}

.card .icon_container .inner_container {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: var(--zinc-800);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card_glow {
    width: 200px;
    height: 81px;
    background-color: var(--primary);
    border-radius: 1000px;
    position: absolute;
    z-index: 0;
    bottom: -60px;
    filter: blur(80px);
}