.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;
  padding: 15rem 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5.2rem;
  padding: 0 5rem;
}

.content .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.top .label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--primary);
  border-radius: 1000px;
  padding: 0.95rem 2rem;
}

.top .label h6 {
  color: var(--primary);
  font-size: 1.55rem;
  font-weight: 300;
}

.top .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.top .heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.top .heading h2 span {
  color: var(--primary);
  font-style: italic;
  font-weight: 300;
  font-family: var(--font-playfair);
}

.top .heading p {
  font-size: 1.85rem;
  color: var(--zinc-400);
  font-weight: 300;
  text-align: center;
  width: 58%;
  line-height: 28px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container .marquee_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 2rem; */
}

.marquee_content .card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
  border: 1px solid var(--zinc-700);
  background-color: #0b0b0b;
  border-radius: 12px;
  padding: 2.1rem;
  margin-right: 2rem;
}

.card .top_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.card .top_info h6 {
  color: var(--white);
  font-size: 1.85rem;
  font-weight: 400;
}

.card > p {
    color: var(--zinc-400);
    font-size: 1.55rem;
    font-weight: 300;
    line-height: 28px;
}