.footer {
    width: 100%;
    padding: 15rem 0 5rem 0;
    position: relative;
    overflow: hidden;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9.5rem;
}

.footer .content .top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
}

.content .top .company_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.company_info p {
    width:82%;
    font-size: 1.6rem;
    line-height: 28px;
    color: var(--zinc-400);
    font-weight: 300;
}

.company_info .social_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

.social_logo .social_item {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    border-radius: 12px;
}

.top .company_links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15rem;
}

.company_links .link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.2rem;
}

.company_links .link h6 {
    color: var(--zinc-400);
    font-size: 1.5rem;
    font-weight: 400;
}

.company_links .link ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.5rem;
    list-style: none;
}

.company_links .link ul li {
    font-size: 1.6rem;
    color: var(--zinc-50);
    font-weight: 300;
}

.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    border-top: 1px solid rgba(204, 254, 5, 0.1);
    position: relative;
    z-index: 1;
}

.copyright p {
    color: var(--white-6);
    font-size: 1.6rem;
    font-weight: 400;
}

.footer_glow {
    width: 100%;
    height: 618px;
    background-color: var(--primary);
    border-radius: 1000px;
    position: absolute;
    bottom: -80%;
    left: 0;
    filter: blur(300px);
}