.product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30rem 0 15rem 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8.5rem;
  padding: 0 5rem;
}

.content .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.top .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.top .heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.top .heading h2 span {
  background: linear-gradient(to right, #ffffff 0%, #ccfe05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top .heading p {
  font-size: 1.85rem;
  color: var(--zinc-400);
  font-weight: 300;
  text-align: center;
  width: 58%;
  line-height: 28px;
}

.content .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8.5rem;
}

.content .container .product_item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.product_item .product_video {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--zinc-800);
  border-radius: 12px;
  overflow: hidden;
}

.product_item .product_video.product3 {
  padding-inline: 2rem;
}

.product_item .product_video video {
  width: 100%;
  height: 100%;
}

.product_item .product_video .chat_video {
  width: 840px;
}

.container .product_item .product_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.4rem;
}

.product_item .product_info h4 {
  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 42px;
}

.product_item .product_info p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 32px;
  color: var(--zinc-400);
}

.product_item .product_info a {
  font-size: 1.85rem;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--zinc-100);
  margin-top: 2rem;
}

.product_item .product_info a svg {
  width: 22px;
  height: 22px;
}

.product_video.product_custom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.product_video.product_custom .tech_logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.product_video.product_custom .tech_logo .item {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background-color: #27272a;
}

.product_video > img {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 83px;
  left: 170px;
}

@media only screen and (max-width: 1260px) {
  .content {
    padding: 0;
  }

  .top .heading h2 {
    font-size: 3.5rem;
  }

  .top .heading p {
    width: 72%;
    font-size: 1.65rem;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 0 2.5rem;
  }
  .content .container .product_item {
    grid-template-columns: 1fr;
  }
  .product_item .product_video {
    order: -1;
  }

  .product_item .product_info h4 {
    font-size: 2.5rem;
  }

  .product_item .product_info p,
  .product_item .product_info a {
    font-size: 1.65rem;
  }

  .product_item .product_info a svg {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 0;
  }

  .top .heading h2 {
    font-size: 2.5rem;
    line-height: 38px;
  }

  .top .heading p {
    width: 100%;
    font-size: 1.55rem;
  }

  .content .container {
    gap: 5rem;
  }

  .content .container .product_item {
    gap: 2.5rem;
  }

  .product_item .product_info h4 {
    font-size: 2rem;
  }

  .product_item .product_info p,
  .product_item .product_info a {
    font-size: 1.55rem;
  }
  .product_item .product_video {
    height: 280px;
  }
}
