.call_to_action {
  width: 100%;
  padding: 15rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.call_to_action_inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-left,
.line-right {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-95%);
  z-index: -1;
}

.line-left svg,
.line-right svg {
  width: 100%;
}

.line-left {
  left: -496px;
}

.line-right {
  right: -564px;
}


.content_container {
  width: 750px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 22px;
  background-color: #0b0b0b;
  padding: 3rem 2rem;
  text-align: center;
}

.content_container h2 {
  width: 80%;
  font-size: 3.4rem;
  font-weight: 500;
  color: var(--white);
  line-height: 48px;
  letter-spacing: -0.3px;
  position: relative;
  z-index: 1;
}

.content_container h2 span {
  background: linear-gradient(to right, #ffffff, #ccfe05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_container p {
  width: 65%;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--zinc-400);
  line-height: 28px;
  position: relative;
  z-index: 1;
}

.content_glow1,
.content_glow2 {
  width: 245.14px;
  height: 245.14px;
  background-color: var(--primary);
  transform: rotate(25.22deg);
  position: absolute;
  filter: blur(100px);
  z-index: 0;
}

.content_glow1 {
  left: -130px;
  top: -90px;
}

.content_glow2 {
  right: -130px;
  bottom: -90px;
}

@media only screen and (max-width: 800px) {
  .content_container {
    width: 100%;
    height: auto;
    padding: 3rem 1.5rem;
    gap: 2.5rem;
  }

  .content_container h2 {
    font-size: 2.6rem;
    line-height: 1.4;
    width: 75%;
  }

  .content_container p {
    font-size: 1.4rem;
    width: 60%;
  }

  .line-left,
  .line-right {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .content_container {
    border-radius: 18px;
  }

  .content_container h2 {
    font-size: 2.5rem;
    width: 100%;
  }

  .content_container p {
    font-size: 1.55rem;
    width: 100%;
  }

  .content_glow1 {
  left:  -236px;
  top: -155px;
}

.content_glow2 {
  right: -236px;
    bottom: -155px;
}
}