.call_to_action {
  width: 100%;
  padding: 15rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.call_to_action > svg {
  position: absolute;
  left: 0;
  top: 0;
}

.content_container {
  width: 750px;
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 22px;
}

.content_container h2 {
  width: 80%;
  font-size: 3.4rem;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  line-height: 48px;
  letter-spacing: -0.3px;
}

.content_container h2 span {
  background: linear-gradient(to right, #ffffff, #ccfe05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_container p {
  width: 65%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--zinc-400);
  line-height: 28px;
}

.content_glow1 {
  width: 245.14px;
  height: 245.14px;
  background-color: var(--primary);
  transform: rotate(25.22deg);
  left: -130px;
  position: absolute;
  top: -90px;
  filter: blur(100px);
}

.content_glow2 {
  width: 245.14px;
  height: 245.14px;
  background-color: var(--primary);
  transform: rotate(25.22deg);
  right: -130px;
  position: absolute;
  bottom: -90px;
  filter: blur(100px);
}

.call_to_action button {
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  font-family: var(--font-inter);
  color: var(--zinc-700);
  font-weight: 500;
}

.call_to_action button span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.35rem;
  padding-left: 1rem;
}

.call_to_action button span svg {
  width: 16px;
  height: 16px;
}
