.hero {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--black);
  padding-top: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero > svg {
  position: absolute;
  z-index: 1;
  top: -136px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.hero_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.85rem;
  padding-bottom: 3.6rem;
}

.hero_content .hero_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: -18px;
}

.hero_top .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_top .avatar img:not(:first-child) {
  margin-left: -1.15rem;
}

.hero_top h6 {
  color: var(--zinc-400);
  font-size: 1.55rem;
  font-weight: 400;
}

.hero_top h6 span {
  color: var(--zinc-50);
}

.hero_content .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.heading h1 {
  color: var(--white);
  font-size: 8rem;
  text-align: center;
  line-height: 120%;
  letter-spacing: -0.5px;
  text-align: center;
  font-weight: 600;
}

.hero_content h1 span {
  background: linear-gradient(270deg, #ffffff, #ccfe05, #ffffff);
  background-size: 300% 100%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 5s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.hero_content h1 span svg {
  position: absolute;
  top: 15px;
  right: -28px;
}

.heading p {
  font-size: 1.65rem;
  color: var(--zinc-400);
  font-weight: 300;
  text-align: center;
  width: 50%;
  line-height: 28px;
}

.hero_content .email_container {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.6rem;
  border-radius: 1000px;
  border: 1px solid var(--zinc-700);
  background-color: var(--zinc-900);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: border-color 0.3s ease;
}

.hero_content .email_container:focus-within,
.hero_content .email_container:hover {
  border-color: var(--zinc-600); 
}

.hero_content .email_container input {
  width: 300px;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.55rem;
  font-weight: 400;
  color: var(--zinc-200);
}

.hero_content .email_container input::placeholder {
  font-size: 1.55rem;
  font-weight: 400;
  color: var(--zinc-600);
}

.flowing_lines {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -146px;
  left: 0;
}

@media only screen and (max-width: 1160px) {
  .heading h1 {
    font-size: 5.5rem;
  }
  .heading p {
    width: 55%;
  }
  .hero_content .email_container {
    padding: 0.45rem;
  }
  .hero_content .email_container input {
    width: 260px;
  }
  .flowing_lines {
    bottom: -190px;
  }
}

@media only screen and (max-width: 800px) {
  .heading p {
    width: 75%;
  }

  .hero_content .email_container input {
    width: 240px;
  }
}

@media only screen and (max-width: 600px) {
  .hero_content {
    gap: 5rem;
  }
  .hero_top .avatar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  .hero_top .avatar img:not(:first-child) {
    margin-left: -0.85rem;
  }
  .hero_top h6 {
    font-size: 1.45rem;
  }
  .heading h1 {
    font-size: 3rem;
  }
  .heading p {
    font-size: 1.55rem;
    width: 100%;
  }

  .hero_content .email_container input {
    width: 180px;
    font-size: 1.45rem;
  }
  .hero_content .email_container input::placeholder {
    font-size: 1.45rem;
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    padding-top: 0;
    height: 80vh;
  }
}
