.contact {
  width: 100%;
  position: relative;
  padding: 22.5rem 0 15rem 0;
}

.contact .content {
  width: 100%;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.4rem;
}

.content .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.4rem;
  padding-top: 3.5rem;
}

.left .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.2rem;
}

.left .top .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
}

.top .heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.top .heading h2 span {
  background: linear-gradient(to right, #ffffff 0%, #ccfe05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.support_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6rem;
}

.support_info .info_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.support_info .info_item h6 {
  font-size: 1.6rem;
  color: var(--zinc-400);
  font-weight: 400;
}

.left .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.left .bottom .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
  padding: 2.4rem;
  border-radius: 16px;
  background-color: var(--zinc-900);
}

.left .bottom .card .icon_container {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.12rem;
  background: linear-gradient(
    138.89deg,
    #ccfe05 2.97%,
    #000000 51.81%,
    #7a9803 97.03%
  );
}

.left .bottom .card .icon_container .inner_container {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: var(--zinc-800);
  display: flex;
  align-items: center;
  justify-content: center;
}

.left .bottom .card h4 {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 400;
}

.left .bottom .card p {
  color: var(--zinc-400);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.3px;
}

.left .bottom .card a {
  color: var(--primary);
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: 300;
}

.content .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 2.4rem;
}

.content .right .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
  position: relative;
}

.content .right .form .input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
  position: relative;
}

.form .input_container label {
  color: var(--zinc-400);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.form .input_container input,
.form .input_container textarea {
  width: 100%;
  padding: 1.8rem 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.55rem;
  font-weight: 300;
  color: var(--zinc-300);
  background: var(--zinc-900);
  border: none;
  outline: none;
  border-radius: 12px;
  font-family: var(--inter-font);
}

.form .input_container input:focus,
.form .input_container textarea:focus {
  border: 1px solid var(--zinc-700);
}

.form .input_container input,
.form .input_container textarea {
  border: 1px solid transparent;
  transition: border 0.3s ease;
}


.form .input_container textarea {
  resize: vertical;
}

.form .input_container input::placeholder,
.form .input_container textarea::placeholder {
  font-size: 1.55rem;
  font-weight: 300;
  color: var(--zinc-300);
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown {
  width: 100%;
  padding: 1.8rem 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: var(--zinc-900);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.form .input_container .dropdown input {
  font-size: 1.55rem;
  font-weight: 300;
  color: var(--zinc-300);
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  padding: 0;
}

.dropdown input::placeholder {
  font-size: 1.55rem;
  font-weight: 300;
  color: var(--zinc-300);
}

.arrow {
  transition: transform 0.3s ease;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.rotated {
  transform: rotate(180deg);
}

.open {
  border: 1px solid var(--zinc-700);
}

.dropdown_menu {
  margin-top: 0.5rem;
  background: var(--zinc-900);
  border-radius: 10px;
  list-style: none;
  padding: 1rem 0;
  width: 100%;
 box-shadow: 0px 4px 15px 0px #26262685;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.dropdown_menu li {
  padding: 1rem 2.2rem;
  font-size: 1.4rem;
  color: var(--zinc-300);
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown_menu li:hover {
  background: var(--zinc-800);
}
.dropdown_menu .activeOption {
  background: var(--primary);
  color: var(--zinc-800);
}

.submit_button {
  font-family: var(--font-inter);
  cursor: pointer;
  width: 100%;
  border-radius: 1000px;
  padding: 1.4rem 1.85rem;
  background: var(--primary);
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.65rem;
  letter-spacing: -0.3px;
  color: var(--zinc-700);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  position: relative;
  transition: all 0.3s ease;
  padding-right: 1.85rem;
}

.submit_button:hover {
  color: var(--zinc-600);
}

@media only screen and (max-width: 600px) {
  .submit_button {
    font-size: 1.45rem;
    padding: 0.85rem 3.5rem 0.85rem 1.5rem;
  }
}
