* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

.box {
  width: 100%;
  max-width: 1350px;
  padding: 0 7.5rem;
  margin: 0 auto;
}
html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button, a {
  font-family: var(--font-inter);
}

@media only screen and (max-width: 1000px) {
  .box {
    padding: 0 3.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .box {
    padding: 0 2rem;
  }
}
