* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

.box {
  width: 100%;
  max-width: 1350px;
  padding: 0 7.5rem;
  margin: 0 auto;
}
html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  font-family: var(--font-inter);
}


a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  font-family: var(--font-inter);
}

/* Screen-reader-only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}


.flowing-line {
  stroke-dasharray: 50 500;
  stroke-dashoffset: 0;
  animation: dashMove 3s linear infinite;
}

@keyframes dashMove {
  to {
    stroke-dashoffset: 550;
  }
}
.flowing-line-reverse {
  stroke-dasharray: 50 500;
  stroke-dashoffset: 0;
  animation: dashMove2 3s linear infinite;
}

@keyframes dashMove2 {
  from {
    stroke-dashoffset: 550;
  }
}

.flowing-line-hero {
  stroke-dasharray: 200 1000; 
  stroke-dashoffset: 0;
  animation: dashMoveHero 2s linear infinite;
}

@keyframes dashMoveHero {
  to {
    stroke-dashoffset: 1200; 
  }
}



/* .delay-1 {
  animation-delay: -0s;
}
.delay-2 {
  animation-delay: -0.5s;
}
.delay-3 {
  animation-delay: -1s;
}
.delay-4 {
  animation-delay: -1.5s;
} */

.flowing-line-3 {
  stroke-dasharray: 50 500;
  stroke-dashoffset: 0;
  animation: dashFlow3 3s linear infinite;
}

@keyframes dashFlow3 {
  from {
    stroke-dashoffset: -550;
  }
}

.floating-group {
  animation: floatY 4s ease-in-out infinite;
  transform-origin: center;
}

@keyframes floatY {
  0% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(6px);
  }
}


.custom-pagination {
  text-align: center;
}

.swiper-pagination-bullet {
  background: var(--zinc-400) !important;
  opacity: 0.75;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}


@media only screen and (max-width: 1000px) {
  .box {
    padding: 0 3.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .box {
    padding: 0 2rem;
  }
}
