@property --r {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.filled_btn {
  display: inline-flex;
  position: relative;
  border-radius: 1000px;
  overflow: hidden;
  max-width: 175px;
}

.filled_btn .background_gradient {
  padding: 0.2rem;
  border-radius: inherit;
  background: conic-gradient(from var(--r), var(--zinc-800) 0%, var(--primary) 20%, var(--zinc-800) 30%);
  width: 100%;
  height: max-content;
  animation: rotateBorder 3s linear infinite;
}

@keyframes rotateBorder {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}

.filled_btn .main_btn_wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  position: relative;
  background: var(--zinc-900);
  overflow: hidden;
  z-index: 1;
}

.filled_btn .main_btn {
  font-family: var(--font-inter);
  width: 100%;
  height: max-content;
  border: none;
  background: transparent;
  border-radius: inherit;
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--zinc-300);
  font-weight: 500;
  font-size: 1.65rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  letter-spacing: -0.3px;
  white-space: nowrap;
}

.main_btn_wrapper .button_glow {
  width: 60px;
  height: 23px;
  border-radius: 1000px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 0.67) 0%,
    rgba(187, 165, 255, 0) 100%
  );
  bottom: -10px;
  filter: blur(12px);
  z-index: 0;
}

@media only screen and (max-width: 800px) {
  .filled_btn .main_btn {
    font-size: 1.55rem;
    padding: 1rem;
  }
}