.filled_btn {
  display: inline-flex;
  position: relative;
  border-radius: 1000px;
  overflow: hidden;
  width: 175px;
}

.filled_btn .background_gradient {
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(
    90deg, 
    rgba(255, 255, 255, 0.8) 0%, 
    rgba(255, 255, 255, 0.2) 100%
  );
  width: 100%;
  height: 100%;
}

.filled_btn .main_btn_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    position: relative;
    background: var(--primary);
    overflow: hidden;
}

.filled_btn .main_btn {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  border-radius: inherit;
  padding: 1.25rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--zinc-700);
  font-weight: 500;
  font-size: 1.65rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.main_btn_wrapper .button_glow {
    width: 60px;
    height: 23px;
    border-radius: 1000px;
    position: absolute;
    background: linear-gradient(180deg, rgba(199, 181, 253, 0.67) 0%, rgba(187, 165, 255, 0) 100%);
    bottom: -10px;
    filter: blur(12px);
}