.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--primary);
  border-radius: 1000px;
  padding: 0.65rem 1.5rem;
}

.label h6 {
  color: var(--primary);
  font-size: 1.45rem;
  font-weight: 300;
}
