.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 30px;
    z-index: 99;
}

.header_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--zinc-800);
    padding: 1.2rem;
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    width: 100%;
    max-width: 712px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 4.5rem;
}

.nav ul li {
    color: var(--zinc-400);
    font-size: 1.65rem;
    font-weight: 300;
    cursor: pointer;
}


