.platforms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.2rem;
  padding: 15rem 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5.2rem;
  padding: 0 5rem;
}

.content .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.top .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.top .heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.top .heading h2 span {
  background: linear-gradient(to right, #ffffff 0%, #ccfe05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top .heading p {
  font-size: 1.85rem;
  color: var(--zinc-400);
  font-weight: 300;
  text-align: center;
  width: 58%;
  line-height: 28px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .platforms_logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.8rem;
    margin-top: -2.8rem;
}

.platforms_logo_container .platform_logo_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.platform_logo_item .platform_logo_icon {
    width: 79px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid var(--zinc-800);
}

.platform_logo_item span {
font-size: 1.6rem;
font-weight: 500;
color: var(--white);
}